{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
    {% if user.is_authenticated %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                {% for name in verbose_names %}
                    <th>{{ name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for obj in objects %}
                <tr>
                    {% for field in field_names %}
                        <td>
                            {% with item=obj|custom_getattr:field %}
                            <span class="{% if field == 'environment' %} badge rounded-pill {{ environment_pills|get_dict_item:item }} {% endif %}">
                                {{ item }}
                            </span>
                            {% endwith %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning">
            Você precisa estar logado para acessar esta página. <a href="{% url 'login' %}">Faça login</a>.
        </div>
    {% endif %}
{% endblock content %}
