{% load static %}
<!-- sidenav -->
<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark mw-220">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="{% url 'dashboard' %}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img src="{% static 'images/icon.svg' %}" alt="Logo" class="me-2" width="160" height="160">
            <span class="fs-5 d-none d-sm-inline"></span>
        </a>

        <!-- Verificando se o usuário está autenticado -->
        {% if user.is_authenticated %}
            <ul class="nav nav-pills flex-column" id="menu">
                {% include "components/sidebar/_dashboard.html" %}
                {% include "components/sidebar/_tenants.html" %}
                {% include "components/sidebar/_cloud_accounts.html" %}
                {% include "components/sidebar/_password_requests.html" %}
            </ul>
        {% else %}
            <!-- Se não estiver autenticado, direciona para o login -->
            <ul class="nav nav-pills flex-column" id="menu">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'login' %}">
                        <i class="fs-4 bi-box-arrow-in-right"></i> Login
                    </a>
                </li>
            </ul>
        {% endif %}

        <hr>

        {% if user.is_authenticated %}
        <!-- Info do usuário logado -->
        <div class="dropdown pb-4 mt-auto">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fs-4 bi-person-circle me-2"></i>
                <span class="d-none d-sm-inline mx-1">
                    {{ user.first_name|default:user.name }}
                </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Perfil</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>
